/***** GRID ******/

.full-width {
	width: 100%;
}

.half-width {
	width: 50%;
}

.third-width{
	width: 30%;

}

/*** GLOBAL STYLES ***/
body {
	width: 100%;
	height: 1400px;
}

#bgimg-1 { 
	background-image: url("../images/bkggreen.png");
	height: 90%;
	position: relative;
    opacity: 0.90;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
	height: 400px;
	width: 100%;
	background: #9CD5B5;
}

.section-head{
 	height: 50px;
 	width: 100%;
 	background: #ffffff;
 }

h1 {
	font-family:;
	font-size: 80px;
	color: #20515A;
	text-align: center;
}

h2 {
	font-family: ;
	font-size:;
	text-align: center;
}

p {
	font-family:;
	font-size:;
	color: #20515A;
}
 
/**** HEADER ****/

header {
	background: #ffffff;
	height: 50px;
	width: 100%;
}

nav {
	display: inline-block;
	background: transparent; 
	float: right;
	clear: all;
}

nav ul a{
	padding-right: 40px;
	padding-left: 0px;
}


a {
	font-size: 20px;
	font-family: ;
	text-decoration: none;
	color: #17522C;	
}

/*** Main **/

main {
	height: 1000px;
	width: 100%;
}

#banner-text{
	height: 500px;
	width: 100%;
	padding-top: 100px;
}

/*** About ***/
.about{
	height: 350px;
	width: 90%;
	margin: 40px;
}


/*** Portfolio ***/



/*** Contact ***/

footer {
	height: 200px;
	width: 100%;
	background: #9CD5B5;
}
